#root, html, body {
    height: 100vh;
}

/* blue: #272343 
lightestblue: #e3f6f5
midblue: #bae8e8 */

body{
    margin: 0;
    background-color: #ffffff;
}

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
